*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  min-height: 100%;
  display: grid;
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

.row > *,
.row-sm > *,
.row-md > *,
.row-lg > *,
.row-xl > *,
.row-xxl > *,
.row-autoflow > *,
.row-autoflow-sm > *,
.row-autoflow-md > *,
.row-autoflow-lg > *,
.row-autoflow-xl > *,
.row-autoflow-xxl > * {
  background-color: lightsteelblue;
  color: midnightblue;
  letter-spacing: 1px;
}
